

.custom-gradient {
    background: linear-gradient(to bottom, #FEF5EA 25%, #FEF5EA 50%);
  }

.nav-bar-background {
    background: linear-gradient(to bottom, #F8D57E 75%, #FEF5EA 100%);
    /*background: #F8D57E*/
}

.primary-button {
    background: #009379;
    color: #FFFFFF;
    border-width: 0px;
    border-color: #000000;
    
}

.important-text-decoration {
    text-decoration: underline;
    text-decoration-color: #FF6250;
}

.secondary-button {
    background: #fffbf1;
    color: #009379;
    border-color: #009379;
    border-width: 2px;
    
}

.button-force-height {
    height: 50px;
}

.secondary-background {
    background-color: #FEF5EA;

}



.custom-hover:hover {
    background-color: #6ee7b7; /* Example: a green background on hover */
    color: #1f2937; /* Example: text color changes to a dark grey */
    transform: scale(1.05); /* Slightly enlarges the button */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
  }

.text-green-custom {
    color: #009379;

}

.reduce-maintenance-background {
    background-color: #f7d8d5;
    color: #FF6250;
    border-radius: 5px;
    width: 15%;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.trades-experience-background {
    background-color: #7bd7c6;
    color: #00715d;
    border-radius: 5px;
    width: 15%;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.transparency-background {
    background-color: #f5dea2;
    color: #605230;
    border-radius: 5px;
    width: 15%;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.icons-background {
    background-color: #7bd7c6;
    color: #00715d;
    border-radius: 5px;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.icon-hover:hover {
    background-color: #6ee7b7; /* Example: a green background on hover */
    color: #1f2937; /* Example: text color changes to a dark grey */
    transform: scale(1.05); /* Slightly enlarges the button */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
  }


.relative {
    position: relative; /* Needed to position children absolutely relative to this container */
}
.absolute {
    position: absolute; /* Position your image absolutely */
    z-index: 0; /* Send it to the back */
}
.z-10 {
    position: relative; /* Make sure this content stays above the absolutely positioned image */
    z-index: 10; /* Higher z-index to ensure it's on top */
}

#movingEllipse {
    transition: transform 0.2s ease-in-out; /* Smoothens the movement */
}

.video-container {
    position: relative; /* Positioning context for the image */
    width: 100%; /* This ensures it will take the full width but you need to adjust this */
    max-width: 400px; /* Adjust this width to match your image's width */
    height: auto; /* Keeps the container's height dynamic based on content */
    margin: auto; /* Centers the container */
}
.video-container video {
    width: 100%; /* Ensures the video fills the container */
    height: auto; /* Maintains aspect ratio */
}
.overlay-image {
    position: absolute; /* Absolute position to overlay on the video */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Perfect center alignment */
    width: auto; /* Maintain the image's dimensions */
    height: auto; /* Maintain the image's aspect ratio */
}

#second-hero-gif {
    width: 100%;
    border-radius: 13em;
    
}

.chevron  {
    margin-left: auto; /* Pushes the icon to the far right */
    padding-left: 12px; /* Optional: Adds some space between the text and the icon */
}
